@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
  background-color: #1F3440;
  margin: 0;
  min-height: 100vh;
  font-family: "Montserrat", serif;
}

header{
  margin-top:0px;
  font-family: "Montserrat", serif;
  background: #EDBF43;
  padding: 8px 32px;
  text-align: center;
}
div.flexContainer{
  display:flex;
  justify-content: space-between;  
}
div.imageContainer{ /*magic here*/
  position: relative;
  width:70%;
  height:100%;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  margin: 0 20px;
}

.display{
  transition: opacity 0.5s;
  border-top-left-radius:25px;
  border-top-right-radius:25px;
}

div.caption{
  color: white;
  background-color: red;
  padding: 10px 20px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  opacity: 1;
  transition: opacity 0.5s;

}

div.hoverOverlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
  border-radius:25px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
}

div.imageContainer:hover .display {
  opacity: 0.3;
}

div.imageContainer:hover .hoverOverlay {
  opacity: 1;
}


div.click{
  padding: 20px;
  display: none;
}

footer {
  padding: 16px 32px;
  text-align: center;
  background: #EDBF43;
}